.container{
  margin-top: 20px;
  margin-left: 10px;
}

.gridblock {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}

/* channel icon */
.channel-icon {
  background-image: url("../assets/defaultAvatar.png");
  background-size: cover;
}
